html {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
    /*background-image: url("./images/bottom.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

}
.img-btn {
    transform:scale(1.2);
    box-shadow:2px 2px 10px rgba(0,0,0,0.3);
}
/*navbar---*/
.logo-div {
    text-align: center;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #deff2a!important;
    color: #00550b;
    margin-bottom: 30px;
    height: 80px;
}
.navbar li {
    display: inline;
}
.navbar a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li a {
    display: inline-block;
    color: #00550b;
    padding: 8px 8px;
}
.navbar li a:hover {
    color: red;
}
.navbar-brand {
    color: #00550b !important;
    font-size: 30px !important;
}
/*end navbar---*/

/*index pag styles----------*/

.logoimg {
    margin-top: 30px;
}
.header-container {
    margin-top: 40px;
    background-image: url("./images/bottom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    height: 100vh;
    width: 100vw;
    justify-content: start;

}
.jumbotron {
    padding: 2px 32px !important;
}
.jumbotron2 {
    text-align: center;
    background-color: rgba(0,0,0,0);
    border-radius: 25% 10px;
    width: 100% !important;
}
.search-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.index-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /*margin-bottom: auto;*/

}

/*Search page styles------------------*/
.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
    color: black;
}
.drink-selector-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
}

.space {
    height: 40px;
}
.space-mobile {
    height: 110px;
}
/*end landing/header---*/
/*search divs---*/
.main-header {
    text-align: center;
    height: 100%;
    margin-bottom: 0px;
    background-size: cover;
}
.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
}
.card-img {
    height: 200px;
    width: 200px;
}
.events-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-contains {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: space-between;
    padding: 0px 10px;
}
.flip-contain {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: space-evenly;
}
.profile-main {
    margin-top: 60px;
    height: 100%;
    width: 80vw;
}
.favs-cont {
    display: flex;
    flex-direction: row;
    overflow: auto;
    align-items: center;
    background-color: #F95700FF;
    width: 75% !important;
    height: 100%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 8px;
}
.favs-cont h1 {
    color: #F95700FF;
}
.fav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    width: 30%;
    min-height: 100%;
    background-color: white;
    border-radius: 0px 50% 50% 0px;
}
.dpdn {
    margin-top: 20px;
}
/*cards--------------------------*/
/*card customizations*/
.card {
    margin: 30px;
}
.custom-card {    display: flex;

    height: 210px;
    width: 500px;
}
.card-text {
    display: none;
    margin-top: 10px;
}
.card1 {
    display: block;
}
table {
    margin: 20px;
}
table tr td {
    margin: 40px;
}
/*flip card*/
.flip-card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: transparent;
    width: 400px;
    height: 600px;
    perspective: 1000px;
    border-radius: 6px;
}
.flip-card-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 6px;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    display: flex;
    flex-direction: column;
    background-color: #00550b;
    color: black;
    border-radius: 6px;
    padding: 20px;
}
/* Style the back side */
.flip-card-back {
    display: flex;
    flex-direction: column;
    background-color: #00550b;
    color: white;
    transform: rotateY(180deg);
    border-radius: 6px;
}
.card-save {
    display: flex;
    flex-direction: column;
}

/*login page styles ------------------------*/
.login-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 370px;
}
/*button styles-----------------------------------*/
.drink-btn {
    margin: 5px;
}
.btn-grp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    width: 600px;
    margin-top: 40px;
    overflow: scroll;
}
.btn-fav-hold {
    text-align: center;
    background-color: #F95700FF;
}
.fav-btn {
    color: #F95700FF;
    margin: 5px 10px;
    background-color: #D6ED17FF;
}
.drink-button{
    background-color: #D6ED17FF !important;
    color: #F95700FF;
    margin: 20px;
    width: 200px!important;
    height: 80px!important;
    border-radius: 8px;
}
.btn-group {
    display: flex;
    flex-wrap: wrap;
    width: 50% !important;
}
.btn-variation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.btn-index {
    color: white;
    background-color: #F95700FF;
}
.btn-index:hover {
    color: red;
    background-color: rgb(5, 56, 107);
}

.fav-btn-cust {
	box-shadow: 0px 10px 14px -7px #000000;
	/*background:linear-gradient(to bottom, #f95700 5%, #f95700 100%);*/
	background-color:white;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#f95700;
    margin: 20px;
	font-size:18px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 6px #ff8585;
}
.fav-btn-cust:hover {
	background-color:white;
    color: red;
}


/*scroll to top-------------*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn a:hover {
  background-color: white; /* Add a dark-grey background on hover */
    color: red;
}

/*sidebar nav*/
/* The side navigation menu */
.sidebar1 {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
/*profile random container*/
.random-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    height: 100vh;
    /*margin-top: 60px;*/
    padding-top: 90px;
    flex-wrap: wrap;
}
.random-card {
    height: 300px;
    width: 300px;
    margin: 20px;
}
.rand-name {

    opacity: 1 !important;
}
.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 2000px;
    background-color: rgba(0,85,11,.3);


}
/*custom cards*/

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

/*media queries*/
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar1 {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}