html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    font-family: 'Quicksand', sans-serif;

}
/*navbar---*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar li {
    display: inline;
}
.navbar a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li a {
  display: inline-block;
  color: black;
  padding: 8px 8px;
}
.navbar li a:hover {
  color: red;
}
/*end navbar---*/

/*landing/header---*/
.logoimg {
    margin-top: 30px;
}
.header-container {
    margin-top: 60px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    color: black;
    height: 100vh;
    width: 100%;
    /*background-image: url("https://live.staticflickr.com/1474/25192383151_9036fa8988_b.jpg");*/
    background-size: cover;
    justify-content: center;
}
.jumbotron {
    background-color: rgba(252, 247, 247,.4);
}
.search-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.search-selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    color: black;
}
.space {
    height: 80px;
}
/*end landing/header---*/

/*search divs---*/
.main-header {
    background-color: grey;
    text-align: center;
    height: 100%;
    margin-bottom: 0px;
    background-image: url("https://www.wallpaperflare.com/static/670/179/820/envelope-minimal-blue-hd-wallpaper.jpg");
    background-size: cover;
}
.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
}
.card {
    margin: 30px;
}





/*styles/curves*/
table {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
table tr th {
	width: 50px;
	padding: 20px;
}
td {
	width: 50px;
	padding: 20px;
}
/* main container-- */
.container {
    height: 100%;
    min-width: 600px !important;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
/* header with jumbo tron-- */
.jumbotron {
	width: 600px !important;
	text-align: center;
}
.drink-btn {
	margin: 5px;
}
.btn-grp {
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap !important;*/
	width: 600px;
	margin-top: 40px;
	/*overflow: scroll;*/
}
/* card holders-- */
.card-contain {
	width: 800px;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0px 10px;
}
.card-text {
	display: none;
	margin-top: 10px;
}

.card1 {
	display: block;

}
.dpdn {
	margin-top: 20px;
}



