{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include './navbar.html %}


<div id="app">
<div class="header-container">
<div class="space-mobile"></div>
<div class="event-container">
<div class="event-view">
  <div class="event-data-side">
    <div class="event-data-header">
        <h5>[[event.name]]</h5>
    </div>
      <div class="event-btn-cont" v-for="drink in event.drinks">
          <ul>
              <li><a class="event-btn" @click="selectedDrink=drink">[[drink.name]]</a></li>
          </ul>
      </div>
      <div class="event-image" v-if="selectedDrink.ingredients.length > 0">
          <img v-bind:src='selectedDrink.image' alt="Avatar" style="width:200px;height:200px;border-radius:10px 50px;margin: 20px">
      </div>
  </div>
  <div class="event-data-main" v-if="selectedDrink.ingredients.length >0">
      <div class="event-drink-inst">
          <p>[[selectedDrink.instructions]]</p>
      </div>
      <div class="event-drink-ingredients">
          <ul>
              <li v-for="ingredient in selectedDrink.ingredients">[[ingredient.name]] : [[ingredient.amount]]</li>
          </ul>
      </div>
  </div>
</div>
</div>
</div>
</div>


<script type="text/javascript">
    let app = new Vue({
        el: '#app',
        delimiters: [
            '[[',
            ']]',
        ],
        data: {
            event: {
                name: '',
                attendees: '0',
                drinks: [],
            },
            selectedDrink:{
                ingredients:[],
                instruction:"",
            },

        },
        created: function () {
            axios({
                method: 'get',
                url: "{% url 'vbk:event_data' event.id %}"

            })
                .then(response => {
                    console.log(response.data)
                    this.event=response.data
                })
        },
        methods: {
            viewDrink: function (drink) {


            }

        }


    })

</script>

{% endblock %}