<!--The index page is the home view and contains the search box with what your searching-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
'''
Landing page or "index" page. Contains a nav bar, and a large 100vh with actions calls to select what you want to do. Possible more to be added.
'''

<div class="header-container">
    <div>
        <nav>
            {% include './navbar.html' %}
        </nav>
    </div>
    <div class="search-header">
        <div class="logoimg">
            <img src="{% static 'virtualbarkeep/images/logo.png' %}" height="300px" width="300px" alt="">
        </div>
        <div class="jumbotron">
            <h1 class="display-4">Hello,</h1>
            <p class="lead">Welcome to your very own, and personal Virtual Barkeep.. </p>
             <hr class="my-4">
            <p>Get rid of the "what do I want?" in your life and let your Barkeep give you some ideas.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'virtualbarkeep:searchalc' %}" role="button">Search Alcohol</a>
            <a class="btn btn-primary btn-lg" href="#searchid" role="button">Search Food</a>
            <a class="btn btn-primary btn-lg" href="#searchid" role="button">Roll the dice!</a>
        </div>
    </div>

</div>
{% endblock %}
