<!--The index page is the home view and contains the search box with what your searching-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include './navbar.html' %}

<div id="random">
    <div class="header-container">
        <div class="index-header">
            <div class="jumbotron jumbotron2">
                <img src="{% static 'virtualbarkeep/images/logotry1.jpg' %}" height="200px" width="200px" alt="">
                <h1 class="display-4" style="color: white"> Hello,</h1>
                <h3 class="lead" style="color:white"><strong>welcome to your very own virtual drink assistant..</strong></h3>
                <hr class="my-4">
                <p>take your taste buds on a journey</p>
                <a class="btn btn-index btn-lg" href="{% url 'vbk:searchalc' %}" role="button">SEARCH FOR DRINKS</a>
                <a class="btn btn-index btn-lg" @click="randomFind" href="#smoothscroll" role="button">SHOW ME RANDOM</a>
            </div>
        </div>
    </div>
    <div class="space" id="smoothscroll"></div>
    <div class="space"></div>
    <div class="cluster-cont " v-if="randomDrinks.length > 0">
        <div v-for="drink in randomDrinks" class="card">
            <a class="card_image" data-target="#drinkModal{{forloop.counter}}" data-toggle="modal">
                <img v-bind:src="[[drink.image]]" alt="">
            </a>
            <div class="card_title title-white">
                <p>[[drink.name]]</p>
            </div>
        </div>
    </div>


</div><!--app ending div-->
<script src="https://unpkg.com/vue"></script>
<script>
    let app = new Vue({
        el: '#random',
        delimiters: [
            '[[',
            ']]',
        ],
        data: {
            randomDrinks: [],
            showModal: false,

        },
        methods: {
            randomFind: function () {
                axios({
                    method: 'get',
                    url: 'https://www.thecocktaildb.com/api/json/v2/9973533/randomselection.php',
                    params: {},

                })
                    .then((response) => {
                        let drinks_data = response.data.drinks
                        console.log(drinks_data)
                        this.randomDrinks = []
                        for (let i = 0; i < drinks_data.length; ++i) {
                            this.randomDrinks.push({
                                name: drinks_data[i].strDrink,
                                image: drinks_data[i].strDrinkThumb,
                            })
                        }
                        console.log(this.randomDrinks)
                    })
            },
            advancedFind: function (nameChoice) {
                axios({
                    method: 'get',
                    url: 'https://www.thecocktaildb.com/api/json/v1/1/search.php',
                    params: {
                        s: nameChoice,
                    }
                }).then((response) => {
                    console.log(response.data.drinks)
                    let drink_data2 = response.data.drinks
                    this.drinkResults2 = []
                    for (let i = 0; i < drink_data2.length; ++i) {
                        this.drinkResults2.push({
                            name: drink_data2[i].strDrink,
                            instructions: drink_data2[i].strInstructions,
                            ingredients: this.mergeIngredients(drink_data2[i]),
                            image: drink_data2[i].strDrinkThumb,
                        })
                    }
                })
            },
        },
    })
</script>

{% endblock %}
