
<nav class="navbar sticky navbar-light" id="navbar">
    {% if not user.is_anonymous %}
    <div>Welcome {{request.user.first_name}}
    <li><a href="{% url 'vbk:profile' %}">View Profile</a></li>
    </div>
    {% endif %}
    {% if user.is_anonymous %}
    <div class="logo-div"><a class="navbar-brand" href="{% url 'vbk:index' %}">V | B</a></div>
    {% endif %}
        <div>
            <ul>
                <li><a href="{% url 'vbk:index' %}">Home</a></li>
                {% if user.is_anonymous %}
                <li><a href="{% url 'vbk:login' %}">Login</a></li>
                <li><a type="button" data-toggle="modal" data-target="#registerModal">
                Register</a>
                </li>
                {% endif %}
                <li>|</li>
                <li><a href="{% url 'vbk:logout' %}">Logout</a></li>


            </ul>
        </div>
</nav>
<!-- Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register To Create Events!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'vbk:register' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1" name="firstname">
                            <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1" name="lastname">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" name="email"
                                   aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
                </div>

            </div>
        </div>
    </div>