{% load static %}
<div class="main-header">



<div class="search-container" id="searchid">
    <div class="card" style="width: 18rem;">
        <img src="https://live.staticflickr.com/3683/9036689805_d3ed8ea2ec.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Pimentones_rellenos%2C_formato_tradicional.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>

</div>