{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include './navbar.html %}
<div class="space"></div>
<div id="app">
    <div class="header-container">
        <div class="search-box">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4">Drink Search</h1>
                <p class="lead">Type the name of a drink to see results.</p>
                <input type="text" v-model='drinkName' v-on:keyup.enter='startFind'>
                <a href="#flipcard" class="search-btn" v-on:click="startFind">Search</a>
                <div class="dropdown dpdn">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Variations
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button v-for="drink in drinkResults" class="dropdown-item"
                                v-on:click="advancedFind(drink.name)">
                            [[drink.name]]
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--    cards-->
        <div class="card-contains">
            <div class="flip-card" v-for='drink in drinkResults2' id="flipcard">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div>
                            <img v-bind:src='drink.image' alt="Avatar" style="width:200px;height:200px;border-radius:10px 50px;margin: 20px">
                        </div>
                        <div>
                            <h1>[[drink.name]]</h1>
                            <h2>Instructions</h2>
                            <p>[[drink.instructions]]</p>
                            <hr>
                            <p>Hover for Ingredients</p>
                            <h2>Enjoy!!</h2>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <table>
                            <tr>
                                <th>Ingredient</th>
                                <th>Measurement</th>
                            </tr>
                            <tr v-for='ingredient in drink.ingredients'>
                                <td>[[ingredient.name]]</td>
                                <td>[[ingredient.amount]]</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'virtualbarkeep/dvue_script.js' %}" defer></script>
    {% endblock %}